In [1]:
import pandas as pd

In [2]:
import tensorflow as tf

In [3]:
df = pd.read_csv('../Datasets/Kaggle sber bank/processed_df.csv')

In [4]:
df

,Unnamed: 0,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,0,1,43.0,27.00000,4.0,12.567592,1.83439,2716.784531,1.900844,6.543995,...,9,4,0,13,22,1,0,52,4,5850000
1,1,2,34.0,19.00000,3.0,12.567592,1.83439,2716.784531,1.900844,6.543995,...,15,3,0,15,29,1,10,66,14,6000000
2,2,3,43.0,29.00000,2.0,12.567592,1.83439,2716.784531,1.900844,6.543995,...,10,3,0,11,27,0,4,67,10,5700000
3,3,4,89.0,50.00000,9.0,12.567592,1.83439,2716.784531,1.900844,6.543995,...,11,2,1,4,4,0,0,26,3,13100000
4,4,5,77.0,77.00000,4.0,12.567592,1.83439,2716.784531,1.900844,6.543995,...,319,108,17,135,236,2,91,195,14,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,30466,30469,44.0,27.00000,7.0,9.000000,1.00000,1975.000000,2.000000,6.000000,...,15,5,0,15,26,1,2,84,6,7400000
30467,30467,30470,86.0,59.00000,3.0,9.000000,2.00000,1935.000000,4.000000,10.000000,...,313,128,24,98,182,1,82,171,15,25000000
30468,30468,30471,45.0,34.03346,10.0,20.000000,1.00000,2716.784531,1.000000,1.000000,...,1,1,0,2,12,0,1,11,1,6970959
30469,30469,30472,64.0,32.00000,5.0,15.000000,1.00000,2003.000000,2.000000,11.000000,...,22,1,1,6,31,1,4,65,7,13500000
30470,30470,30473,43.0,28.00000,1.0,9.000000,1.00000,1968.000000,2.000000,6.000000,...,5,2,0,7,16,0,9,54,10,5600000

In [5]:
labels = df.iloc[:,-1:]

In [6]:
Features = df.iloc[:,:-1]

In [7]:

from sklearn.model_selection import train_test_split

In [8]:

X_train, X_test, y_train, y_test = train_test_split(Features, labels, test_size=0.20, random_state=42)

In [15]:
model = tf.estimator.DNNRegressor(feature_columns=df, hidden_units=[10,10])

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\iad7kor\AppData\Local\Temp\tmp1gbp8_f3
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\iad7kor\\AppData\\Local\\Temp\\tmp1gbp8_f3', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001A175C86BC8>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}